@import url("styles/header.css");
@import url("styles/statistics.css");
@import url("styles/features.css");
@import url("styles/pricing.css");
@import url("styles/contact.css");
@import url("styles/footer.css");

body {
  min-width: 320px;
  font-size: 16px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

