.contact-container {
  padding-inline: 10%;
  &__info {
    &__title {
      font-family: Raleway, sans-serif;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 46.96px;
    }
    &__subtitle {
      font-family: "Open Sans";
      font-size: 1rem;
      font-weight: 400;
      line-height: 22px;
    }
    &__details {
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 600;
      color: #a5a5a5;
      margin-top: 10%;
      margin-bottom: 10%;
      &--email {
        a{
          text-decoration: none;
          color: inherit;
          display: list-item;
          list-style-image: url("./images/Email.png");
        }
      }
      &--phone {
        a{
          text-decoration: none;
          color: inherit;
          display: list-item;
          list-style-image: url("./images/Phone.png");
        }
      }
    }
  }
  &__form {
    &__label {
      font-family: "Open Sans", sans-serif;
      font-size: 0.6875rem;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 14.98px;
      letter-spacing: 3.28px;
      color: #08a6e4;
      &--name {
      }
      &--email {
      }
      &--disclaimer {
        font-size: 0.75rem;
        font-weight: 400;
        text-transform: none;
        line-height: 16.34px;
        letter-spacing: 0;
        color: #707070;
      }

      &__text-input {
        margin-top: 8%;
        border-width: 0 0 1px 0;
        border-color: #95989a;
        width: 100%;
        margin-bottom: 10%;
        &--name {
        }
        &--email {
        }
      }
    }

    &__send-button {
      margin-top: 10%;
      margin-left: 40%;
      padding: 1.2rem 6rem;
      border-radius: 35px;
      border: none;
      background-color: #08a6e4;
      color: white;
      box-shadow: 5px 10px 14px rgba(8, 166, 228, 0.29);
    }
  }
}

@media only screen and (min-width: 1000px) {
  .contact-container {
    margin-top: 10%;
    text-align: center;
    &__info {
      text-align: start;
      display: inline-block;
      vertical-align: top;
      width: 40%;
      &__title {
        font-family: Raleway, sans-serif;
        font-size: 3.0625rem;
        font-weight: 400;
        line-height: 46.96px;
      }
      &__subtitle {
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: 400;
        line-height: 22px;
      }
      &__details {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        color: #a5a5a5;
        &--email {
          display: inline-block;
          a{
            text-decoration: none;
            color: inherit;
            display: list-item;
            list-style-image: url("./images/Email.png");
          }
        }
        &--phone {
          margin-left: 15%;
          display: inline-block;
          a{
            text-decoration: none;
            color: inherit;
            display: list-item;
            list-style-image: url("./images/Phone.png");
          }
        }
      }
    }
    &__form {
      display: inline-block;
      width: 40%;
      text-align: start;
      &__label {
        font-family: "Open Sans", sans-serif;
        font-size: 0.6875rem;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 14.98px;
        letter-spacing: 3.28px;
        color: #08a6e4;
        &--name {
        }
        &--email {
        }
        &--disclaimer {
          font-size: 0.75rem;
          font-weight: 400;
          text-transform: none;
          line-height: 16.34px;
          letter-spacing: 0;
          color: #707070;
        }

        &__text-input {
          margin-top: 8%;
          border-width: 0 0 1px 0;
          border-color: #95989a;
          width: 100%;
          margin-bottom: 10%;
          &--name {
          }
          &--email {
          }
        }
      }

      &__send-button {
        margin-top: 10%;
        margin-left: 40%;
        padding: 1.2rem 6rem;
        border-radius: 35px;
        border: none;
        background-color: #08a6e4;
        color: white;
        box-shadow: 5px 10px 14px rgba(8, 166, 228, 0.29);
      }
    }
  }
}
