.features-container {
  background-color: #f7f7f7;
  padding-top: 10%;
  padding-inline: 5vw;
}
.features-container__card {
  text-align: center;
  display: inline-block;
  min-width: 360px;
  margin-bottom: 10%;
  background-color: white;
  border-radius: 5px;
}
.features-container__card--be-always-first__image {
  position: relative;
  left: -50px;
  right: 0;
  margin-top: 10%;
}
.features-container__card--be-always-first__red-rectangle--mobile {
  visibility: visible;
  position: relative;
  left: 160px;
  top: -40px;
}
.features-container__card--be-always-first__red-rectangle--desktop {
  visibility: hidden;
  width: 0;
}
.features-container__card--be-always-first__title {
  margin: 0;
  text-align: start;
  font-family: Raleway, sans-serif;
  font-size: 2em;
  font-weight: 400;
  padding-left: 0.5em;
  padding-right: 1em;
}
.features-container__card--be-always-first__content-text {
  text-align: start;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5em;
}
.features-container__card--your-shop__image {
  position: relative;
  left: -40px;
  right: 0;
  margin-top: 10%;
}
.features-container__card--your-shop__blue-ellipse {
  position: relative;
  left: 90px;
  top: -10px;
}
.features-container__card--your-shop__title {
  margin: 0;
  text-align: start;
  font-family: Raleway, sans-serif;
  font-size: 2em;
  font-weight: 400;
  padding-left: 0.5em;
  padding-right: 1em;
}
.features-container__card--your-shop__content-text {
  text-align: start;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5em;
}
.features-container__card--increase-recognition__title {
  margin-top: 10%;
  text-align: start;
  font-family: Raleway, sans-serif;
  font-size: 2em;
  font-weight: 400;
  padding-left: 0.5em;
  padding-right: 1em;
}
.features-container__card--increase-recognition__content-text {
  text-align: start;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5em;
}
.features-container__card--increase-recognition__green-background {
  width: 100%;
  background-color: #55dfb4;
  border-radius: 5px;
}
.features-container__card--increase-recognition__image {
  position: relative;
  top: 30px;
}

@media only screen and (min-width: 1000px) {
  .features-container {
    background-color: #f7f7f7;
    padding-top: 10rem;
    padding-inline: 15%;
  }
  .features-container__card {
    min-width: 360px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
  }
  .features-container__card--be-always-first {
    height: 23.125rem;
    text-wrap: nowrap;
    padding-left: 4%;
    display: inline-block;
  }
  .features-container__card--be-always-first__image-container {
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    left: 30%;
    display: inline-block;
  }
  .features-container__card--be-always-first__image-container__image {
    position: absolute;
    right: 20%;
    bottom: 0%;
    top: 100px;
    width: 380px;
  }
  .features-container__card--be-always-first__image-container__red-rectangle--mobile {
    visibility: hidden;
    width: 0;
  }
  .features-container__card--be-always-first__image-container__red-rectangle--desktop {
    visibility: visible;
    width: 180px;
    position: relative;
    right: 10px;
    top: 30px;
  }
  .features-container__card--be-always-first__title {
    position: relative;
    margin: 0 auto;
    padding: 0;
    bottom: 20%;
    font-family: Raleway, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
  }
  .features-container__card--be-always-first__content-text {
    text-wrap: wrap;
    position: relative;
    bottom: 20%;
    text-align: start;
    width: 40%;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    border-bottom: 4px solid #fb3b64;
    margin-top: 5%;
    padding-left: 0;
    padding-bottom: 5%;
  }
  .features-container__card--your-shop {
    height: 23.125rem;
    padding-top: 4%;
    text-wrap: nowrap;
    padding-right: 10%;
  }
  .features-container__card--your-shop__image {
    position: relative;
    bottom: 0px;
    width: 26.625rem;
    right: 530px;
  }
  .features-container__card--your-shop__blue-ellipse {
    width: 20rem;
    position: relative;
    right: 200px;
    top: -30px;
  }
  .features-container__card--your-shop__title {
    position: relative;
    bottom: 21rem;
    left: 50rem;
    text-wrap: wrap;
    width: 25%;
    text-align: start;
    font-family: Raleway, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    padding-left: 0.5em;
    padding-right: 1em;
  }
  .features-container__card--your-shop__content-text {
    text-wrap: wrap;
    position: relative;
    bottom: 21rem;
    left: 50rem;
    text-align: start;
    width: 30rem;
    margin-left: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 4rem;
    border-bottom: 4px solid #08a6e4;
  }
  .features-container__card--increase-recognition {
    height: 23.125rem;
    padding-top: 4%;
    padding-right: 10%;
    width: 60%;
  }
  .features-container__card--increase-recognition__title {
    width: 90%;
    position: relative;
    bottom: 2rem;
    left: 1rem;
    text-align: start;
    font-family: Raleway, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    padding-left: 0.5em;
    padding-right: 1em;
  }
  .features-container__card--increase-recognition__content-text {
    position: relative;
    bottom: 2rem;
    left: 1rem;
    text-align: start;
    width: 30rem;
    margin-left: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 4rem;
    border-bottom: 4px solid #55dfb4;
  }
  .features-container__card--increase-recognition__green-background {
    margin-left: 7.25rem;
    position: relative;
    left: 52rem;
    bottom: 21.875rem;
    width: 24vw;
    height: 39vh;
    background-color: #55dfb4;
    border-radius: 5px;
  }
  .features-container__card--increase-recognition__image {
    position: relative;
    top: 90px;
  }
}/*# sourceMappingURL=features.css.map */