body {
  margin: 0 auto;
  font-size: 16px;
}
.header {
  &__nav {
    width: 100vw;
    height: 70px;
    display: inline-block;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    &__logo {
      margin-left: 25px;
      margin-top: 17px;
      font-family: Raleway, sans-serif;
      font-size: 2rem;
      font-weight: 300;
      line-height: 37px;
      color: #08a6e4;
    }
    &__element-list {
      display: none;
      list-style: none;
    }
    &__hamburger-menu-container {
      &__hamburger-menu {
        //TODO: hamburger menu icon
      }
    }
  }

  &__jumbotron {
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
    &__header-title {
      font-family: Raleway, sans-serif;
      font-weight: 400;
      font-size: 2.18rem;
    }
    &__header-subtitle {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1rem;
    }
    &___header-btn--open-your-shop {
      padding: 3vh 25vw;
      border-radius: 40px;
      border: none;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      font-weight: 700;
      color: #ffffff;
      background-color: #08a6e4;
      filter: drop-shadow(5px 10px 14px rgba(7, 172, 230, 0.29));
      text-wrap: nowrap;
    }

    &__header-image-container {
      margin-top: 20%;
      &__header-image {
        width: 100%;
      }
      width: 100vw;
    }
  }
}

.statistics-container {
  &__title {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    margin-left: 20%;
    margin-right: 20%;
  }

  &__statistics {
    &__ellipse {
      margin-left: 45vw;
    }
    &__icon {
      position: relative;
      left: -36px;
      top: -8px;
    }
    &__amount {
      text-align: center;
      font-family: Raleway, sans-serif;
      font-size: 1.25rem;
      font-weight: 800;
      letter-spacing: 0.5rem;
    }
    &__topic {
      text-align: center;
      font-family: Raleway, sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2rem;
      color: #a5a5a5;
    }
  }
}

.footer {
  height: 89px;
  width: 100%;
  &__logo {
    margin-left: 25px;
    margin-top: 17px;
    margin-bottom: 0;
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 37px;
    color: #08a6e4;
    text-wrap: nowrap;
    display: inline-block;
  }

  &__copyright {
    margin-left: 25px;
    margin-top: 0px;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    color: #a5a5a5;
  }

  &__socials{
    width:auto;
    display: inline-block;
  }
}
@media only source and (min-width: 1200px) {
}
